.Input-wrapper {
  position: relative;
  margin: .5rem 0 1.5rem;
}

.Input-wrapper .Input-message {
  color: #f25c5c;
  font-size: .7rem;
}

.Input-wrapper .Input-label {
  position: absolute;
  top: 0rem;
  left: .5rem;
  height: 33px;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #797a80;
  pointer-events: none;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.Input-wrapper .Input {
  width: calc(100% - 1rem);
  padding: .5rem;
  border: solid 1px #d3d3d3;
  border-radius: .25rem;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.Input-wrapper .Input:hover, .Input-wrapper .Input:focus {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.Input-wrapper .Input:focus ~ .Input-label {
  top: -2rem;
  color: #202531;
  font-weight: 700;
}

.Input-wrapper .Input.Input-error {
  border-color: #f25c5c;
}
