$primary: #DD4242
$global: #d3d3d3
$blocks: #fff
$text: #797a80
$heading: #202531
$success: #23d996
$danger: #f25c5c
$warning: #f2a35e

.app
  display: grid
  place-items: center
  min-height: 100vh
  background-color: $global
  .wrapper
    background-color: $blocks
    padding: 2rem
    border-radius: 1rem
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15)
    position: relative
    padding-top: 12rem
    .credit-card
      position: absolute
      top: -120px
      width: 100%
      border-radius: 1rem
      .card
        width: 100%
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15) 
        height: 100%
        object-fit: cover
        border-radius: 1rem
      .card-chip
        position: absolute
        top: 1.5rem
        left: 1.5rem
        width: 3rem
    .form
      display: flex
      flex-direction: column
      .flex
        display: flex
        justify-content: space-between
        .column
          width: 30%
          select
            width: 100%



